.header{
    background:url("/storage/images/jlpt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 300px;
    position: relative;
}

.slider-text {
    height: 250px;  
}

#bann{
    margin-top: 1rem!important;
    color: white;
    font-size: 17px;
    text-align: center;
}

#bann a{
    color: white;
}

#bann a:hover{
    color: pink;
}

/*banner image*/